@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script&display=swap');
/* @import allows import diff code from web */

/* CSS Syntax:

selector{
  property: value;
  property: value;
}

*/

/* Type Selector */

p { /* select <p> */
  font-size: 1em;/* 16px, 7pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption { /* Caption under image or video */
  /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  8*/
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  color: #FF0000;
  /* first two:red, second two:green, last two:blue
  rgba(number, number, number, number)= can find the values in digital color meter (spotlight)*/

  /*To use your own font: Google fonts */
  text-align: right;
}
